<div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <div class="col-lg-3 header-logo">
            <div class="">
             <a href=""><img src="assets\header-logo1.png"></a>
            </div>
          </div>
          <div class="col-lg-5 header-menu">
            <div>
              <ul>
                <li><a routerLink="">Things To do</a></li>
                <li><a routerLink="">Where to Stay</a></li>
                <li><a routerLink="">Visitor Info</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 header-login">
              <a routerLinkActive="active" routerLink="/login">Login</a>
              <a routerLink="userhome" routerLinkActive="active"> User Page</a>
              <a routerLink="attraction-details" routerLinkActive="active">Attraction</a>     
          </div>
        </div>
      </div>
    </div>
  </div>
</div>